#root,
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-header {
  padding: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.app {
  padding: 20px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

.board {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.lane {
  background-color: thistle;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 272px;
  height: 100%;
  overflow: hidden;
}

.lane > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.lane-title {
  padding: 0 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.lane-items {
  padding: 5px;
  min-height: 0;
  height: 100%;
}

.lane-items > div {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  background-color: cornflowerblue;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 6px;
}

/*  */

.sortable-list-horizontal {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: start;
  align-items: start;
}

.sortable-list-vertical {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.draggable-item {
  touch-action: none;
  transition: transform 200ms ease 0s;
}

.is-active-dropzone {
  background-color: lightgreen;
}

.is-dragging {
  visibility: hidden;
}